.header {
    background-color: whitesmoke;
    text-align: center;
    padding: 1rem;
}

.main {
    padding: 1rem;
    background-image: url("../images/background.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}

.info {
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
}

.footer {
    background-color: coral;
    padding: 1rem;
    color: whitesmoke;
}