@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans:400,600,700|Roboto:400,600|Ubuntu|Play:400,700');
$headerBackground: whitesmoke;
$yandexColor: #ffcd00;
$buttonBackground: orange;

@keyframes _color
{
    0%   {background: $buttonBackground;}
    10%   {background: red;}
    50%   {background: $buttonBackground;}
    // 100%   {background: red;}
}

%button {
    background: $buttonBackground;
    color: white;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
    // box-shadow: 0 0 5px lighten($buttonBackground, 5%);
    border-radius: 5px;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    margin: auto;
}

.button {
    @extend %button;
    margin: 0 auto; // width: 90%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}

a.plugin {
    margin: 1rem 0;
    @extend %button;
    display: block;
    animation: _color 1s infinite;
}

section.header {
    background-color: $headerBackground;
    text-align: center;
    padding: 1rem;
    .yandex-taxi-logo {
        width: 70%;
    }
    .phones {
        margin: 1rem 0;
        font-size: 1.5rem;
        line-height: 150%;
    }
}

section.main {
    padding: 1rem;
    background-image: url("../images/background.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    .box {
        background: transparentize(white, 0.25); // color: whitesmoke;
        margin: 1rem auto;
        padding: 2rem;
        font-family: 'Open Sans', sans-serif;
        .header {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.7rem;
            @media screen and (max-width: 600px) {
                font-size: 2rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 1.6rem;
            }
        }
        .list {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1.75rem;
            @media screen and (max-width: 600px) {
                font-size: 1.2rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 1.0rem;
            }
            line-height: 200%;
        }
        .footnote {
            font-weight: normal;
            color: red;
        }
        .oferta {
                font-weight: 600;
                margin: 0.5rem 0 -1rem;
                // color: red;
                small {
                    vertical-align: baseline;
                }
        }
        .form {
            .error {
                color: red;
            }
            legend {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                text-align: center;
                width: 100%;
            }
            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: 600;
                font-size: 0.8rem;
                input,
                select {
                    font-size: 1.1rem;
                    padding: 0.3rem;
                    margin: 0 -0.3rem;
                    width: 100%;
                }
            }
        }
    }
}

section.info {
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem;
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 2.5rem;
    }
    i.fa {
        font-size: 10rem;
    }
    .basic {
        font-size: 1.5rem;
        margin: 1rem 0 0;
    }
    .details {
        font-size: 1rem;
        margin: 0.5rem 0 1rem;
    }
}

section.youtube {
    text-align: center;
    padding: 1rem;
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 2.5rem;
    }
    .description {
        margin-top: 1rem;
    }
    iframe {
        width: 100%;
        min-height: 200px;
        margin: 0.5rem 0;
        border: 1px solid #BBBBBB;
    }
}

section.footer {
    background-color: #020418;
    padding: 3rem 1rem;
    color: whitesmoke;
}

section.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    &.show {
        display: flex;
    }
    .dialog {
        padding: 3rem;
        background-color: whitesmoke;
        font-size: 2rem;
        margin: auto;
        // display: flex;
    }
}